.container {
  border-radius: 13px;
  padding: 20px;
  background-color: #FFFFFF;
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
  font-size: 24px;
  z-index: 10;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-family: Poppins;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 600;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #D9D9D9;
  border-radius: 38px;
  height: 40px;
  box-sizing: border-box;
  color: #333;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-secondary {
  background-color: #F5F7FF;
  color: #744BFC;
  border: 1px solid #F5F7FF;
  border-radius: 34px;
  font-family: Poppins;
  size: 13.42px;
}

.btn-primary {
  background-color: #6200ea;
  color: #fff;
  border: 1px solid #F5F7FF;
  border-radius: 34px;
  font-family: Poppins;
  size: 13.42px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .close-button {
    top: 5px;
    right: 5px;
  }

  .form-group {
    margin-bottom: 10px;
  }

}
