<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mt-2" href="#">
      <img src="assets/logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-2" id="navbarNav" style=" margin-left: -120px; ">
      <div class="row w-100">
        <ul class="navbar-nav d-flex w-100 justify-content-around">
          <li class="nav-item col">
            <a class="nav-link active text-center" aria-current="page" routerLink="/socialMediaLink">Hakkımızda</a>
          </li>
          <li style="margin-right: 32px;" class="nav-item col">
            <a class="nav-link active text-center" aria-current="page" routerLink="/socialMediaLink">Jüri-Yarışma Yazılım</a>
          </li>
          <li class="nav-item col">
            <a class="nav-link active text-center" aria-current="page" routerLink="/socialMediaLink">Word Ninja</a>
          </li>
          <li class="nav-item col">
            <a class="nav-link active text-center" aria-current="page" routerLink="/socialMediaLink">Word Pyramids</a>
          </li>
          <li class="nav-item col">
            <a class="nav-link active text-center" aria-current="page" routerLink="/lastVisitedSocialMediaLink">Son Gezdiklerim</a>
          </li>
          <!-- Social Media Icons -->
          <li class="nav-item">
            <a href="https://www.youtube.com" target="_blank" class="nav-link">
              <img src="assets/youtube.png" alt="YouTube">
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com" target="_blank" class="nav-link">
              <img src="assets/instagram.png" alt="Instagram">
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.behance.net" target="_blank" class="nav-link">
              <img src="assets/be.png" alt="Be">
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com" target="_blank" class="nav-link">
              <img src="assets/linkedin.png" alt="LinkedIn">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>